<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arapey&family=Stardos+Stencil&family=Xanh+Mono&display=swap');
    </style>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/art.css">
    <title>Art</title>
</head>

<body>
    <main class="container">
        <div class="navContainer">
            <nav class="navigation" id="navBar">
                <a href="javascript:void(0);" class="navIcon" onclick="openNav()">
                    <img src="../images/nav-icon.png" alt="icon">
                </a>
                <a onmouseenter="backgroundColor('rgb(255,255,0, 0.5)')" onmouseleave="backgroundColor('transparent')"
                    href="../index.html">welcome</a>
                <a onmouseenter="backgroundColor('rgb(127, 255, 212, 0.5)')"
                    onmouseleave="backgroundColor('transparent')" href="./art.html">art</a>
                <a onmouseenter="backgroundColor('rgb(127, 0, 255, 0.5)')" onmouseleave="backgroundColor('transparent')"
                    href="./music.html">music</a>
                <a onmouseenter="backgroundColor('rgb(127, 255, 0, 0.5)')" onmouseleave="backgroundColor('transparent')"
                    href="./connect.html">connect</a>
            </nav>
        </div>
        <div class="column columnOne">
            <div class="imgContainerContainer">
                <div class="imgContainer">
                    <div id="previewModal">
                        <div class="myPreviews">
                            <img src="../images/art/door.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/saint.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/neighbour.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/owl.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/whale.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/chaos.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/many.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/frontier.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/jelly.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/balloon.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/spindrift.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/dino.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/basecamp.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/birdman.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/duality.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/green.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/paper.jpg">
                        </div>
                        <div class="myPreviews">
                            <img src="../images/art/shark.jpg">
                        </div>
                    </div>
                    <div id="slideModal" class="modal"><span class="close" onclick="closeSlideModal()">×</span>
                        <div class="mySlides">
                            <img src="../images/art/door.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/saint.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/neighbour.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/owl.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/whale.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/chaos.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/many.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/frontier.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/jelly.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/balloon.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/spindrift.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/dino.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/basecamp.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/birdman.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/duality.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/green.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/paper.jpg">
                        </div>
                        <div class="mySlides">
                            <img src="../images/art/shark.jpg">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column columnTwo">
            <div class="columnBackground">
                <section class="scroller">
                    <p onclick="openSlideModal();currentSlide(1)" onmouseenter="openPreviewModal();currentPreview(1)"
                        onmouseleave="closePreviewModal()">AN OPEN DOOR</p>
                    <p onclick="openSlideModal();currentSlide(2)" onmouseenter="openPreviewModal();currentPreview(2)"
                        onmouseleave="closePreviewModal()">ST. VINCENT</p>
                    <p onclick="openSlideModal();currentSlide(3)" onmouseenter="openPreviewModal();currentPreview(3)"
                        onmouseleave="closePreviewModal()">NEW NEIGHBOUR</p>
                    <p onclick="openSlideModal();currentSlide(4)" onmouseenter="openPreviewModal();currentPreview(4)"
                        onmouseleave="closePreviewModal()">OWL</p>
                    <p onclick="openSlideModal();currentSlide(5)" onmouseenter="openPreviewModal();currentPreview(5)"
                        onmouseleave="closePreviewModal()">WHALE OF A TIME</p>
                    <p onclick="openSlideModal();currentSlide(6)" onmouseenter="openPreviewModal();currentPreview(6)"
                        onmouseleave="closePreviewModal()">CHAOS</p>
                    <p onclick="openSlideModal();currentSlide(7)" onmouseenter="openPreviewModal();currentPreview(7)"
                        onmouseleave="closePreviewModal()">AN EARFUL</p>
                    <p onclick="openSlideModal();currentSlide(8)" onmouseenter="openPreviewModal();currentPreview(8)"
                        onmouseleave="closePreviewModal()">NEW FRONTIER</p>
                    <p onclick="openSlideModal();currentSlide(9)" onmouseenter="openPreviewModal();currentPreview(9)"
                        onmouseleave="closePreviewModal()">JELLY BOY</p>
                    <p onclick="openSlideModal();currentSlide(10)" onmouseenter="openPreviewModal();currentPreview(10)"
                        onmouseleave="closePreviewModal()">BALLOON</p>
                    <p onclick="openSlideModal();currentSlide(11)" onmouseenter="openPreviewModal();currentPreview(11)"
                        onmouseleave="closePreviewModal()">SPINDRIFT LOGO</p>
                    <p onclick="openSlideModal();currentSlide(12)" onmouseenter="openPreviewModal();currentPreview(12)"
                        onmouseleave="closePreviewModal()">DINO LOVE</p>
                    <p onclick="openSlideModal();currentSlide(13)" onmouseenter="openPreviewModal();currentPreview(13)"
                        onmouseleave="closePreviewModal()">BASECAMP</p>
                    <p onclick="openSlideModal();currentSlide(14)" onmouseenter="openPreviewModal();currentPreview(14)"
                        onmouseleave="closePreviewModal()">BIRDMAN</p>
                    <p onclick="openSlideModal();currentSlide(15)" onmouseenter="openPreviewModal();currentPreview(15)"
                        onmouseleave="closePreviewModal()">DUALITY</p>
                    <p onclick="openSlideModal();currentSlide(16)" onmouseenter="openPreviewModal();currentPreview(16)"
                        onmouseleave="closePreviewModal()">GO GREEN</p>
                    <p onclick="openSlideModal();currentSlide(17)" onmouseenter="openPreviewModal();currentPreview(17)"
                        onmouseleave="closePreviewModal()">PAPER WINGS</p>
                    <p onclick="openSlideModal();currentSlide(18)" onmouseenter="openPreviewModal();currentPreview(18)"
                        onmouseleave="closePreviewModal()">SHARK</p>
                </section>
            </div>
        </div>
    </main>
    <script src="../scripts/art.js"></script>
    <script src="../scripts/nav.js"></script>
</body>

</html>