<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arapey&family=Stardos+Stencil&family=Xanh+Mono&display=swap');
    </style>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/connect.css">
    <title>Connect</title>
</head>

<body>
    <main class="container">
        <nav class="navigation" id="navBar">
            <a href="javascript:void(0);" class="navIcon" onclick="openNav()">
                <img src="../images/nav-icon.png" alt="icon">
            </a>
            <a onmouseenter="backgroundColor('rgb(255,255,0, 0.5)')" onmouseleave="backgroundColor('transparent')"
                href="../index.html">welcome</a>
            <a onmouseenter="backgroundColor('rgb(127, 255, 212, 0.5)')" onmouseleave="backgroundColor('transparent')"
                href="./art.html">art</a>
            <a onmouseenter="backgroundColor('rgb(127, 0, 255, 0.5)')" onmouseleave="backgroundColor('transparent')"
                href="./music.html">music</a>
            <a onmouseenter="backgroundColor('rgb(127, 255, 0, 0.5)')" onmouseleave="backgroundColor('transparent')"
                href="./connect.html">connect</a>
        </nav>
        <section class="connect">
            <div class="connectContent">
                <p>Thanks for checking out my site. I created it to not only showcase some of the art and music that I
                    have made but also as a web development challenge. I chose to use only HTML, CSS, and
                    JavaScript for this site.</p>
                <p>If you want to hire me to make a site or paint a thing, please reach out.</p>
                <p>If you're on a computer please go to the welcome page and click on the decorations.</p>
                <div class="contactInfo">
                    <p>Email: zale.davis@gmx.com</p>
                    <a href="https://www.linkedin.com/in/zale-davis-8613329a/">LinkedIn</a>
                    <a href="https://github.com/Za7e">GitHub</a>
                </div>
            </div>
        </section>
    </main>
    <script src="../scripts/connect.js"></script>
    <script src="../scripts/nav.js"></script>
</body>

</html>