<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arapey&family=Stardos+Stencil&family=Xanh+Mono&display=swap');
    </style>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/music.css">
    <title>Music</title>
</head>

<body>
    <main class="container">
        <div class="column columnOne">
            <div class="navContainer">
                <nav class="navigation" id="navBar">
                    <a href="javascript:void(0);" class="navIcon" onclick="openNav()">
                        <img src="../images/nav-icon.png" alt="icon">
                    </a>
                    <a onmouseenter="backgroundColor('rgb(255,255,0, 0.5)')"
                        onmouseleave="backgroundColor('transparent')" href="../index.html">welcome</a>
                    <a onmouseenter="backgroundColor('rgb(127, 255, 212, 0.5)')"
                        onmouseleave="backgroundColor('transparent')" href="./art.html">art</a>
                    <a onmouseenter="backgroundColor('rgb(127, 0, 255, 0.5)')"
                        onmouseleave="backgroundColor('transparent')" href="./music.html">music</a>
                    <a onmouseenter="backgroundColor('rgb(127, 255, 0, 0.5)')"
                        onmouseleave="backgroundColor('transparent')" href="./connect.html">connect</a>
                </nav>
            </div>
            <section class="musicSelection">
                <div class="row rowOne">
                    <p class="album">DAY BY DAY</p>
                </div>
                <div class="row rowTwo">
                    <p class="demosUp">demos-up</p>
                    <a href="https://linktr.ee/Chaboya">links</a>
                    <p class="demosDown">demos-down</p>
                </div>
            </section>
            <section class="imgContainer">
                <img class="speakerImg" src="../images/speaker.png" alt="speaker">
            </section>
        </div>
        <div class="column columnTwo">
            <section class="musicPlayer">
                <div class="albumHolder hidden">
                    <iframe width="100%" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1364638186&color=%23060606&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <div
                        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/chaboyasounds" title="Chaboya" target="_blank"
                            style="color: #cccccc; text-decoration: none;">Chaboya</a> · <a
                            href="https://soundcloud.com/chaboyasounds/sets/day-by-day" title="Day By Day"
                            target="_blank" style="color: #cccccc; text-decoration: none;">Day By Day</a>
                    </div>
                </div>
                <div class="demosUpHolder hidden">
                    <iframe width="100%" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/227537238&color=%23060606&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <div
                        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/chaboyasounds" title="Chaboya" target="_blank"
                            style="color: #cccccc; text-decoration: none;">Chaboya</a> · <a
                            href="https://soundcloud.com/chaboyasounds/sets/plugged-in" title="demos - up"
                            target="_blank" style="color: #cccccc; text-decoration: none;">demos - up</a>
                    </div>

                </div>
                <div class="demosDownHolder hidden">
                    <iframe width="100%" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/227540018&color=%23060606&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <div
                        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/chaboyasounds" title="Chaboya" target="_blank"
                            style="color: #cccccc; text-decoration: none;">Chaboya</a> · <a
                            href="https://soundcloud.com/chaboyasounds/sets/acoustic" title="demos - down"
                            target="_blank" style="color: #cccccc; text-decoration: none;">demos - down</a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="../scripts/music.js"></script>
    <script src="../scripts/nav.js"></script>
</body>

</html>