.column {
    height: 100%;
}

.columnOne{
    width:1px;
    flex-grow: 1;
    background-image: url('../images/archway.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height:100vh;
}

.greyOut{
    background-color: rgba(255,255,255,0.7);
}

.columnTwo{
    width:300px;
    height: 100vh;
}

.columnBackground{
    background-image: url('../images/bars.png');
    background-attachment: local;
    overflow-y:scroll;
    background-size:300px;
    height:100%;
}

.scroller{
    text-align:center;
}

.scroller p{
  font-family: 'Stardos Stencil', cursive;
    font-size:1.5em;
    margin-top:28px;
    margin-bottom:46px;
}

.container {
    flex-wrap:wrap;
    position:fixed;
}

.navigation {
    margin-right:300px;
}


* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .imgContainer{
      height:100vh;
      width:100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 0;
    }
  
  /* Hide the images by default */
  .mySlides, .myPreviews {
    display: none;
  }

  .mySlides img{
      max-height:85vh;
      margin-bottom:10%;
      max-width:70vw;
  }

  .myPreviews img{
      max-height: 300px;
      max-width: 300px;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
  }

  .prev {
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }

  .scroller p:hover, #slideModal span{
    cursor: pointer;
  }

  .close{
      font-size: 30px;
      transition: 0.6s ease;
  }
  .close:hover {
    position:relative;
    color:rgba(0, 0, 0, 0.4);
  }

@media (max-width: 1000px){
  .mySlides img{
    max-width:50vw;
  }
  .navigation {
    margin-right:0px;
  }
}

@media (max-width: 700px){
  .container{
    flex-direction: column;
  }
  .navigation{
    height:10vh;
  }
  .columnOne{
    width:100vw;
    max-height:70vh;
  }
  .columnTwo{
    width:100vw;
    height:20vh;
  }
  .imgContainer{
    max-height:70vh;
    width:100%;
  }
  .mySlides img{
    max-height:65vh;
    margin-bottom:10%;
    max-width:100vw;
}
}